<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Market List</title>
</head>
<body>

<img src="/images/market2.png"/>

<div class="products-group" id="Мясо">
    <h3>Отдел мясной:</h3>
    <div th:each="product : ${meat}">
        <span th:text="${product.title + '  ID: ' + product.id}">PRODUCT</span>
        <a th:href="@{'/product/' + ${product.id} +'/info'}">  INFO</a>
    </div>
</div><div class="products-group" id="Овощи">
    <h3>Отдел овощной:</h3>
    <div th:each="product : ${vegetables}">
        <span th:text="${product.title + '  ID: ' + product.id}">PRODUCT</span>
        <a th:href="@{'/product/' + ${product.id} +'/info'}">  INFO</a>
    </div>
</div><div class="products-group" id="Мучное">
    <h3>Отдел мучной:</h3>
    <div th:each="product : ${flour}">
        <span th:text="${product.title + '  ID: ' + product.id}">PRODUCT</span>
        <a th:href="@{'/product/' + ${product.id} +'/info'}">  INFO</a>
    </div>
</div><div class="products-group" id="напитки">
    <h3>Отдел напитков:</h3>
    <div th:each="product : ${drinks}">
        <span th:text="${product.title + '  ID: ' + product.id}">PRODUCT</span>
        <a th:href="@{'/product/' + ${product.id} +'/info'}">  INFO</a>
    </div>
</div>
<div class="products-group" id="Алкоголь">
    <h3>Отдел алкоголя:</h3>
    <div th:each="product : ${alcohol}">
        <span th:text="${product.title + '  ID: ' + product.id}">PRODUCT</span>
        <a th:href="@{'/product/' + ${product.id} +'/info'}">  INFO</a>
    </div>
</div>
    </body>
</html>